@font-face {
  font-family: Hanson-Bold;
  src: url('../assets/fonts/Hanson-Bold.ttf');
}

@font-face {
  font-family: Deutschlander;
  src: url('../assets/fonts/Deutschlander20.ttf');
}

// @import url('../assets/fonts/Satoshi-Regular.ttf');
// @import url('../assets/fonts/Satoshi-Light.ttf');

// $blue: #106373;
// $lightblue: #18AFCC;
// $darkblue: #2E383D;
// $white: #EBEBEB;
$black: #000000;
$darkgray: #161616;
$gold: #dd9f12;

// $subtitle: 3.2rem;
// $text: 1.6rem;
// $textsmall: 1.4rem;

$hanson: 'Hanson-Bold';
$deutschlander: 'Deutschlander';
// $satoshi: 'Satoshi-Regular';
// $satoshiLight: 'Satoshi-Light';