@import '../../styles/mixins.scss';

.contentContainer {
  @include size(100%, 100%);
  @include flex($justify: center);
  position: absolute;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  overflow: hidden;
  padding: 0 4rem;

  .playerContainer {
    @include size(50%, 100%);
    @include flex(column, flex-end, flex-end);
    position: relative;
    padding-right: 4rem;

    button {
      @include flex();
      gap: 0.5rem;
      position: absolute;
      top: 4rem;
      left: 0;
      color: $black;

      &:hover {
        color: $gold;
      }

      img {
        width: 2.5rem;
      }

      span {
        font-family: $hanson;
        font-size: 1.4rem;
      }
    }
  }

  .formContainer {
    @include size(50%, 100%);
    @include flex(column, center, flex-start);
    padding-right: 4rem;

    img {
      min-width: 55rem;
      max-width: 55rem;
    }
  }
}