@import '../../styles/mixins.scss';

.resultModal {
  @include flex(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  background: $darkgray;
  color: white;
  text-align: center;
  overflow: auto;
  z-index: 2;

  .resultContainer {
    margin: 2rem 0;

    canvas {
      border: 1rem solid white;
      width: 100%;
      height: 100%;
    }
  }

  .btnWrapper {
    @include flex();
    width: 100%;
    gap: 2rem;


    .social {
      circle {
        fill: none;
        stroke: white;
        stroke-width: 0.25rem;
      }
    }

    button {
      background: $darkgray;
      border: 0.25rem solid white;
      font-family: $hanson;
      font-size: 1.4rem;
      color: white;
      padding: 1rem 2rem;

      &:hover {
        background: white;
        color: $darkgray;
      }
    }

    a {
      font-family: $hanson;
      font-size: 1.4rem;
      opacity: 0.5;
    }
  }
}